.lt_content {
  width: 100%;
}
.lt_content .nav {
  padding: 10px;
}
.lt_content .nav ul li {
  float: left;
  width: 33.33%;
}
.lt_content .nav ul li a {
  display: block;
}
.lt_content .nav ul li a img {
  width: 100%;
  display: block;
}
